/* @group Base */
.chosen-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  min-width: 77px; }
  .chosen-container * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .chosen-container .chosen-drop {
    position: absolute;
    top: 100%;
    z-index: 1010;
    width: 100%;
    border-top: 0;
    background: #fff;
    clip: rect(0, 0, 0, 0);
    -webkit-clip-path: inset(100% 100%);
            clip-path: inset(100% 100%);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5); }
  .chosen-container.chosen-with-drop .chosen-drop {
    clip: auto;
    -webkit-clip-path: none;
            clip-path: none; }
  .chosen-container a {
    cursor: pointer; }
  .chosen-container .search-choice .group-name, .chosen-container .chosen-single .group-name {
    margin-right: 4px;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    font-weight: normal;
    color: #999999; }
    .chosen-container .search-choice .group-name:after, .chosen-container .chosen-single .group-name:after {
      content: ":";
      padding-left: 2px;
      vertical-align: top; }

/* @end */
/* @group Single Chosen */
.chosen-container-single .chosen-single {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 0 40px 0 22px;
  height: 50px;
  color: #fff;
  border: 1px solid #9a9999;
  text-decoration: none;
  white-space: nowrap;
  line-height: 24px; }

.chosen-container-single .chosen-default span {
  color: #aeaeae !important; }

.chosen-container-single .chosen-single span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  height: 100%;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  margin-right: 26px;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap; }

.chosen-container-single .chosen-single-with-deselect span {
  margin-right: 38px; }

.chosen-container-single .chosen-single abbr {
  position: absolute;
  top: 6px;
  right: 26px;
  display: block;
  width: 12px;
  height: 12px;
  background: url("../img/icons/chosen-sprite.png") -42px 1px no-repeat;
  font-size: 1px; }
  .chosen-container-single .chosen-single abbr:hover {
    background-position: -42px -10px; }

.chosen-container-single.chosen-disabled .chosen-single abbr:hover {
  background-position: -42px -10px; }

.chosen-container-single .chosen-single div {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 34px;
  height: 100%; }
  .chosen-container-single .chosen-single div b {
    display: block;
    width: 100%;
    height: 100%;
    background: url("../img/icons/drop_menu.png") no-repeat center right 20px; }

.chosen-container-single .chosen-search {
  position: relative;
  z-index: 1010;
  margin: 0;
  padding: 3px 4px;
  white-space: nowrap; }
  .chosen-container-single .chosen-search input[type="text"] {
    margin: 1px 0;
    padding: 4px 20px 4px 5px;
    width: 100%;
    height: auto;
    outline: 0;
    border: 1px solid #aaa;
    background: url("../img/icons/chosen-sprite.png") no-repeat 100% -20px;
    font-size: 1em;
    font-family: sans-serif;
    line-height: normal;
    border-radius: 0; }

.chosen-container-single .chosen-drop {
  margin-top: -1px;
  background-clip: padding-box; }

.chosen-container-single.chosen-container-single-nosearch .chosen-search {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  -webkit-clip-path: inset(100% 100%);
          clip-path: inset(100% 100%); }

/* @end */
/* @group Results */
.chosen-container .chosen-results {
  font-size: 16px;
  font-weight: 400;
  color: #373737;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  margin-bottom: 8px;
  max-height: 240px;
  -webkit-overflow-scrolling: touch; }
  .chosen-container .chosen-results li {
    display: none;
    margin: 0;
    padding: 0px 15px 10px 21px;
    list-style: none;
    line-height: normal;
    font-size: 16px;
    letter-spacing: 0.4px;
    font-weight: 400;
    color: #373737;
    word-wrap: break-word;
    -webkit-touch-callout: none; }
    .chosen-container .chosen-results li.active-result {
      display: list-item;
      cursor: pointer; }
    .chosen-container .chosen-results li.disabled-result {
      display: list-item;
      color: #ccc;
      cursor: default; }
    .chosen-container .chosen-results li.highlighted {
      color: #4ab5e3; }
    .chosen-container .chosen-results li.no-results {
      color: #777;
      display: list-item;
      background: #f4f4f4; }
    .chosen-container .chosen-results li.group-result {
      display: list-item;
      font-weight: bold;
      cursor: default; }
    .chosen-container .chosen-results li.group-option {
      padding-left: 15px; }
    .chosen-container .chosen-results li em {
      font-style: normal;
      text-decoration: underline; }

/* @end */
/* @group Multi Chosen */
.chosen-container-multi .chosen-choices {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0 5px;
  width: 100%;
  height: auto;
  border: 1px solid #aaa;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #eee), color-stop(15%, #fff));
  background-image: -webkit-linear-gradient(#eee 1%, #fff 15%);
  background-image: -o-linear-gradient(#eee 1%, #fff 15%);
  background-image: linear-gradient(#eee 1%, #fff 15%);
  cursor: text; }

.chosen-container-multi .chosen-choices li {
  float: left;
  list-style: none; }
  .chosen-container-multi .chosen-choices li.search-field {
    margin: 0;
    padding: 0;
    white-space: nowrap; }
    .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
      margin: 1px 0;
      padding: 0;
      height: 25px;
      outline: 0;
      border: 0 !important;
      background: transparent !important;
      -webkit-box-shadow: none;
              box-shadow: none;
      color: #999;
      font-size: 100%;
      font-family: sans-serif;
      line-height: normal;
      border-radius: 0;
      width: 25px; }
  .chosen-container-multi .chosen-choices li.search-choice {
    position: relative;
    margin: 3px 5px 3px 0;
    padding: 3px 20px 3px 5px;
    border: 1px solid #aaa;
    max-width: 100%;
    border-radius: 3px;
    background-color: #eeeeee;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), to(#eee));
    background-image: -webkit-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
    background-image: -o-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
    background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
    background-size: 100% 19px;
    background-repeat: repeat-x;
    background-clip: padding-box;
    -webkit-box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
            box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
    color: #333;
    line-height: 13px;
    cursor: default; }
    .chosen-container-multi .chosen-choices li.search-choice span {
      word-wrap: break-word; }
    .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
      position: absolute;
      top: 4px;
      right: 3px;
      display: block;
      width: 12px;
      height: 12px;
      background: url("../img/icons/chosen-sprite.png") -42px 1px no-repeat;
      font-size: 1px; }
      .chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
        background-position: -42px -10px; }
  .chosen-container-multi .chosen-choices li.search-choice-disabled {
    padding-right: 5px;
    border: 1px solid #ccc;
    background-color: #e4e4e4;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), to(#eee));
    background-image: -webkit-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
    background-image: -o-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
    background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
    color: #666; }
  .chosen-container-multi .chosen-choices li.search-choice-focus {
    background: #d4d4d4; }
    .chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close {
      background-position: -42px -10px; }

.chosen-container-multi .chosen-results {
  margin: 0;
  padding: 0; }

.chosen-container-multi .chosen-drop .result-selected {
  display: list-item;
  color: #4ab5e3;
  cursor: default; }

/* @end */
/* @group Active  */
.chosen-container-active.chosen-with-drop .chosen-single div {
  border-left: none;
  background: transparent; }
  .chosen-container-active.chosen-with-drop .chosen-single div b {
    background-position: center left 20px;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }

.chosen-container-active .chosen-choices li.search-field input[type="text"] {
  color: #222 !important; }

/* @end */
/* @group Disabled Support */
.chosen-disabled {
  opacity: 0.5 !important;
  cursor: default; }
  .chosen-disabled .chosen-single {
    cursor: default; }
  .chosen-disabled .chosen-choices .search-choice .search-choice-close {
    cursor: default; }

/* @end */
/* @group Right to Left */
.chosen-rtl {
  text-align: right; }
  .chosen-rtl .chosen-single {
    overflow: visible;
    padding: 0 8px 0 0; }
  .chosen-rtl .chosen-single span {
    margin-right: 0;
    margin-left: 26px;
    direction: rtl; }
  .chosen-rtl .chosen-single-with-deselect span {
    margin-left: 38px; }
  .chosen-rtl .chosen-single div {
    right: auto;
    left: 3px; }
  .chosen-rtl .chosen-single abbr {
    right: auto;
    left: 26px; }
  .chosen-rtl .chosen-choices li {
    float: right; }
    .chosen-rtl .chosen-choices li.search-field input[type="text"] {
      direction: rtl; }
    .chosen-rtl .chosen-choices li.search-choice {
      margin: 3px 5px 3px 0;
      padding: 3px 5px 3px 19px; }
      .chosen-rtl .chosen-choices li.search-choice .search-choice-close {
        right: auto;
        left: 4px; }
  .chosen-rtl.chosen-container-single .chosen-results {
    margin: 0 0 4px 4px;
    padding: 0 4px 0 0; }
  .chosen-rtl .chosen-results li.group-option {
    padding-right: 15px;
    padding-left: 0; }
  .chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
    border-right: none; }
  .chosen-rtl .chosen-search input[type="text"] {
    padding: 4px 5px 4px 20px;
    background: url("../img/icons/chosen-sprite.png") no-repeat -30px -20px;
    direction: rtl; }
  .chosen-rtl.chosen-container-single .chosen-single div b {
    background-position: 6px 2px; }
  .chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b {
    background-position: -12px 2px; }

/* @end */
/* @group Retina compatibility */
/* @end */
body {
  padding-top: 70px;
  margin: 0;
  font-family: 'Lato', sans-serif; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

h2 {
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0; }

/* header */
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: #fff;
  z-index: 9; }
  .header__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 70px; }
  .header__logo a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto; }
  .header__links-list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    margin: 0 44px 0 0; }
    .header__links-list > li {
      position: relative;
      margin-left: 59px;
      top: -1px; }
      .header__links-list > li.active > a {
        color: transparent; }
        .header__links-list > li.active > a .speciality-text {
          opacity: 1; }
      .header__links-list > li:hover > .drop-menu {
        opacity: 1;
        visibility: visible;
        top: 43px; }
      .header__links-list > li:hover > a {
        color: transparent; }
        .header__links-list > li:hover > a .speciality-text {
          opacity: 1; }
      .header__links-list > li:first-child {
        margin-left: 0; }
      .header__links-list > li a {
        font-weight: 400;
        font-size: 16px;
        color: #232323;
        letter-spacing: 0.2px;
        text-decoration: none;
        position: relative; }
        .header__links-list > li a .speciality-text {
          font-weight: 700;
          font-size: 16px;
          color: #232323;
          letter-spacing: 0.2px;
          text-decoration: none;
          position: absolute;
          top: 0;
          left: 0;
          margin: 0;
          opacity: 0; }
  .header__search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    margin-right: 2px; }
    .header__search input {
      width: 180px;
      height: 30px;
      border: 0;
      -webkit-box-shadow: none;
              box-shadow: none;
      outline: none;
      padding-left: 15px;
      padding-right: 50px;
      background: #e8e4f1;
      font-weight: 400; }
    .header__search button {
      position: absolute;
      display: block;
      top: 50%;
      cursor: pointer;
      margin-top: -7px;
      right: 27px;
      border: 0px;
      width: 14px;
      height: 14px;
      outline: none;
      -webkit-box-shadow: none;
              box-shadow: none;
      background: url("../img/icons/search-btn.png") center center no-repeat; }
  .header .hamburger {
    display: none;
    width: 22px;
    height: 16px;
    position: relative;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer; }
    .header .hamburger__item {
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      background: #333333;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out; }
      .header .hamburger__item:nth-child(1) {
        top: 0px;
        -webkit-transform-origin: left center;
            -ms-transform-origin: left center;
                transform-origin: left center; }
      .header .hamburger__item:nth-child(2) {
        top: 8px;
        -webkit-transform-origin: left center;
            -ms-transform-origin: left center;
                transform-origin: left center; }
      .header .hamburger__item:nth-child(3) {
        top: 16px;
        -webkit-transform-origin: left center;
            -ms-transform-origin: left center;
                transform-origin: left center; }
    .header .hamburger.open .hamburger__item:nth-child(1) {
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg);
      top: -1px;
      left: 3px; }
    .header .hamburger.open .hamburger__item:nth-child(2) {
      width: 0%;
      opacity: 0; }
    .header .hamburger.open .hamburger__item:nth-child(3) {
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg);
      top: 15px;
      left: 3px; }
  .header:before {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 30%;
    height: 1px;
    width: 0%;
    background: #009dda;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; }
  .header.scroll:before {
    width: 100%;
    left: 0; }

.drop-menu {
  position: absolute;
  padding: 0;
  margin: 0;
  opacity: 0;
  visibility: hidden;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.65);
  top: 46px;
  left: -2px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 26px 0 12px 28px; }
  .drop-menu:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: #fff200; }
  .drop-menu:after {
    content: '';
    position: absolute;
    left: 0;
    top: -30px;
    display: block;
    width: 100%;
    height: 40px; }
  .drop-menu li {
    margin-left: 0;
    position: relative;
    margin-bottom: 17px;
    padding-right: 31px; }
    .drop-menu li a {
      position: relative;
      white-space: nowrap;
      color: #fdfdfd;
      font-size: 14px;
      font-weight: 300;
      letter-spacing: 1.2px;
      -webkit-transition: left 0.2s ease;
      -o-transition: left 0.2s ease;
      transition: left 0.2s ease; }
      .drop-menu li a:before {
        content: '\f105';
        font-family: FontAwesome;
        position: absolute;
        left: -10px;
        top: 50%;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%); }
      .drop-menu li a:hover {
        color: #fff200;
        left: 2px; }
        .drop-menu li a:hover:before {
          content: '\f101';
          left: -12px; }
  .drop-menu__drop-handler:hover > a {
    color: #fff200;
    left: 2px; }
    .drop-menu__drop-handler:hover > a:before {
      content: '\f101';
      left: -12px; }
  .drop-menu__drop-handler:hover .drop-menu {
    opacity: 1;
    visibility: visible;
    top: -7px; }
  .drop-menu .drop-menu {
    position: absolute;
    top: -5px;
    left: 100%;
    padding-top: 25px; }
    .drop-menu .drop-menu:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 2px;
      background: #fff200; }
    .drop-menu .drop-menu:after {
      display: none; }

/* general slider */
.generaal-slider {
  position: relative; }
  .generaal-slider .swiper-container {
    width: 100%;
    height: 100%; }
  .generaal-slider .swiper-slide {
    background-size: cover;
    height: 790px;
    background-position: center; }
    .generaal-slider .swiper-slide:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      background: -webkit-linear-gradient(330deg, #00bef2 0%, #3068B7 15%, #503392 48%, #503392 100%);
      background: -o-linear-gradient(330deg, #00bef2 0%, #3068B7 15%, #503392 48%, #503392 100%);
      background: linear-gradient(120deg, #00bef2 0%, #3068B7 15%, #503392 48%, #503392 100%);
      opacity: 0.8;
      z-index: 1; }
  .generaal-slider__text-box {
    position: absolute;
    left: 50%;
    top: 47%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    min-width: 1000px;
    z-index: 2; }
  .generaal-slider__title {
    font-size: 64px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3.6px;
    position: relative;
    top: -2px; }
    .generaal-slider__title span {
      color: #fff200; }
  .generaal-slider__subtitle {
    color: #fff;
    text-align: center;
    font-size: 16px;
    padding: 0 125px;
    font-weight: 400;
    margin-top: 22px;
    line-height: 30px;
    letter-spacing: 0.7px; }

/* advant section */
.advant-section {
  padding-top: 106px;
  padding-bottom: 116px; }
  .advant-section__title {
    text-align: center;
    letter-spacing: 2px;
    color: #232323;
    margin-bottom: 20px; }
    .advant-section__title_color {
      color: #009dda; }
  .advant-section__title-decription {
    position: relative;
    text-align: center;
    font-size: 14px;
    color: #999999;
    padding: 0 202px;
    line-height: 24px;
    font-weight: 400;
    left: -2px;
    letter-spacing: 0.6px;
    margin: 0; }
  .advant-section__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 86px; }

.advant-card {
  width: 200px;
  height: 270px;
  padding-top: 24px;
  border: 1px solid #ebebeb;
  text-align: center;
  position: relative;
  overflow: hidden; }
  .advant-card__icon {
    font-size: 60px;
    color: #503392;
    text-align: center;
    margin-bottom: 44px; }
  .advant-card__title {
    font-size: 14px;
    color: #232323;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 0;
    letter-spacing: 0.8px; }
  .advant-card__description {
    font-size: 14px;
    color: #373737;
    font-weight: 300;
    padding: 8px 8px; }
    .advant-card__description p {
      line-height: 19px;
      letter-spacing: 0.7px;
      margin: 0; }
  .advant-card .btn-box {
    position: absolute;
    background: #503392;
    height: 148px;
    width: 100%;
    padding-top: 30px;
    bottom: -160px;
    -webkit-transition: bottom 0.3s ease;
    -o-transition: bottom 0.3s ease;
    transition: bottom 0.3s ease;
    text-align: center; }
    .advant-card .btn-box__title {
      color: #fff;
      font-weight: 400;
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: 0.6px;
      margin-top: 0; }
    .advant-card .btn-box__btn-cont {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding-top: 17px; }
    .advant-card .btn-box__btn {
      display: block;
      position: relative;
      width: 36px;
      height: 36px;
      border: 1px solid #fff;
      border-radius: 50%;
      margin: 0 8px;
      -webkit-transition: background 0.2s ease;
      -o-transition: background 0.2s ease;
      transition: background 0.2s ease; }
      .advant-card .btn-box__btn:hover {
        background: #fff; }
        .advant-card .btn-box__btn:hover:before {
          color: #503392; }
      .advant-card .btn-box__btn:before {
        content: "\f0c1";
        font-family: FontAwesome;
        position: absolute;
        left: 50%;
        top: 50%;
        font-size: 14px;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        color: #fff; }
      .advant-card .btn-box__btn:last-child:hover {
        background: #fff; }
        .advant-card .btn-box__btn:last-child:hover:before {
          color: #503392; }
      .advant-card .btn-box__btn:last-child:before {
        content: "\f00e";
        font-family: FontAwesome;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        color: #fff;
        font-weight: 400; }
  .advant-card:hover .btn-box {
    bottom: 0; }

/* products */
.products {
  background-image: url(../img/product-bg.jpg);
  background-size: cover;
  background-position: center center;
  padding-bottom: 67px;
  position: relative; }
  .products__title {
    color: #fff;
    position: absolute;
    z-index: 1;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 40px;
    letter-spacing: 1.4px; }
    .products__title_color {
      color: #ffff00; }
  .products__box {
    position: relative;
    width: 100%;
    height: 162px;
    margin-bottom: 117px; }
  .products__clipboard {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 76%, 53.5% 76%, 49.9% 100%, 46.2% 76%, 0% 76%);
            clip-path: polygon(0% 0%, 100% 0%, 100% 76%, 53.5% 76%, 49.9% 100%, 46.2% 76%, 0% 76%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #d3d0c9;
    background-image: url(../img/title-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: top center; }
  .products__shadowboard {
    pointer-events: none;
    opacity: 0;
    -webkit-transition: opacity .375s;
    -o-transition: opacity .375s;
    transition: opacity .375s;
    transition: opacity .375s;
    position: absolute; }
  .products__slider {
    margin: 0 -15px;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1; }
    .products__slider .swiper-slide {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      .products__slider .swiper-slide > div {
        padding-left: 0;
        padding-right: 0; }
        .products__slider .swiper-slide > div:nth-child(1) .product-box .droduct-descrip {
          padding-left: 28px;
          padding-top: 16px; }
          .products__slider .swiper-slide > div:nth-child(1) .product-box .droduct-descrip__title {
            letter-spacing: 0.8px; }
        .products__slider .swiper-slide > div:nth-child(4) .product-box .droduct-descrip {
          padding-left: 28px;
          padding-top: 16px; }
          .products__slider .swiper-slide > div:nth-child(4) .product-box .droduct-descrip__title {
            letter-spacing: 0.8px; }
  .products .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 0; }
  .products .swiper-pagination-bullet-active {
    background: #503392; }

.product-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 16px;
  margin-bottom: 101px; }
  .product-box__img img {
    border-radius: 50%; }
  .product-box .droduct-descrip {
    padding-left: 24px;
    padding-top: 15px;
    padding-right: 16px; }
    .product-box .droduct-descrip__title {
      font-weight: 700;
      letter-spacing: 0.3px;
      color: #232323;
      font-size: 24px;
      text-transform: uppercase;
      margin-top: 0;
      margin-bottom: 6px; }
    .product-box .droduct-descrip__sub-title {
      color: #503392;
      font-size: 16px;
      font-weight: 400;
      margin-top: 0;
      margin-bottom: 13px; }
    .product-box .droduct-descrip__description {
      color: #373737;
      font-size: 14px;
      letter-spacing: 0.7px;
      font-weight: 300;
      line-height: 24px;
      margin-top: 0;
      margin-bottom: 0; }

/* About us */
.about {
  padding-top: 111px;
  padding-bottom: 126px; }
  .about__img-box {
    padding-top: 75px;
    text-align: right; }
    .about__img-box img {
      position: relative;
      max-width: 100%;
      left: 15px; }
  .about .about-text__title {
    color: #009dda;
    letter-spacing: 1.6px; }
    .about .about-text__title_color {
      color: #373737; }
  .about .about-text__title-decription {
    color: #999999;
    font-size: 14px;
    margin-top: 22px;
    line-height: 24px;
    letter-spacing: 0.6px;
    font-weight: 400;
    margin-bottom: 46px; }
  .about .about-text__decription {
    position: relative;
    left: -2px;
    color: #373737;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.6px;
    font-weight: 400;
    margin-top: 0; }

.skills-wrapper {
  padding-top: 82px;
  padding-right: 9px;
  padding-left: 2px; }
  .skills-wrapper__skillbar {
    position: relative;
    display: block;
    margin-bottom: 71px;
    width: 100%;
    padding-left: 2px;
    padding-right: 2px;
    border: 1px solid #dddddd;
    height: 9px;
    -webkit-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transition: 0.4s linear;
    -webkit-transition-property: width, background-color;
    -o-transition-property: width, background-color;
    transition-property: width, background-color; }
  .skills-wrapper__skillbar-title {
    position: absolute;
    top: -34px;
    left: -1px;
    letter-spacing: 0.4px;
    font-size: 13px;
    color: #444444;
    font-weight: 700;
    text-transform: uppercase; }
  .skills-wrapper__skillbar-bar {
    margin-top: 2px;
    height: 3px;
    width: 0px;
    background: #009dda; }
  .skills-wrapper__skill-bar-percent {
    position: absolute;
    right: -5px;
    top: -34px;
    letter-spacing: 0.4px;
    font-size: 13px;
    color: #444444;
    font-weight: 700; }

/* Contact */
.contact__title {
  position: relative;
  text-align: center;
  color: #232323;
  left: 3px;
  letter-spacing: 1.6px; }
  .contact__title_color {
    color: #009dda; }

.contact__title-decription {
  color: #999999;
  font-size: 14px;
  margin-top: 22px;
  line-height: 23px;
  letter-spacing: 0.6px;
  font-weight: 400;
  margin-bottom: 80px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 740px; }

.contact__map-box {
  position: relative; }

.contact__map {
  height: 634px;
  width: 100%; }
  .contact__map:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65); }

.contact-form {
  position: absolute;
  z-index: 3;
  left: 50%;
  top: 98px;
  margin-left: -473px;
  max-width: 945px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 83px;
  padding-left: 69px;
  padding-bottom: 79px;
  background: rgba(0, 0, 0, 0.53); }
  .contact-form__form-item {
    position: relative; }
    .contact-form__form-item label.error {
      position: absolute;
      left: 0;
      top: -20px;
      color: #009dda;
      font-family: 'Lato', sans-serif;
      font-size: 9px; }
  .contact-form__contact-text {
    padding-left: 93px;
    padding-right: 50px;
    position: relative;
    top: -5px; }
    .contact-form__contact-text a,
    .contact-form__contact-text p {
      color: #f3f3f3;
      font-size: 16px;
      font-family: 'Lato', sans-serif;
      font-weight: 400;
      text-decoration: none; }
    .contact-form__contact-text ul {
      padding: 0;
      margin: 0; }
    .contact-form__contact-text a {
      position: relative;
      display: block;
      margin-bottom: 5px;
      -webkit-transition: color .3s ease;
      -o-transition: color .3s ease;
      transition: color .3s ease; }
      .contact-form__contact-text a:before {
        content: '';
        position: absolute;
        display: block;
        width: 0;
        height: 1px;
        background: #fff;
        left: 50%;
        bottom: -1px;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
        -webkit-transition: width .3s ease;
        -o-transition: width .3s ease;
        transition: width .3s ease; }
      .contact-form__contact-text a:hover {
        color: #009dda; }
        .contact-form__contact-text a:hover:before {
          width: 100%; }
  .contact-form__message-box {
    position: relative; }
    .contact-form__message-box label.error {
      position: absolute;
      left: 22px;
      bottom: 13px;
      color: #009dda;
      font-family: 'Lato', sans-serif;
      font-size: 9px; }
  .contact-form__addres p {
    margin-top: 0;
    margin-bottom: 5px; }
  .contact-form__addres_street {
    letter-spacing: 0.2px; }
  .contact-form__numbers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 24px; }
    .contact-form__numbers a {
      letter-spacing: 0.2px; }
  .contact-form__emails {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 24px; }
  .contact-form__checkout-box {
    position: relative; }
    .contact-form__checkout-box label.error {
      position: absolute;
      left: 34px;
      bottom: -5px;
      color: #009dda;
      font-family: 'Lato', sans-serif;
      font-size: 9px; }
  .contact-form__input-grup {
    margin-bottom: 13px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .contact-form__input-grup input,
    .contact-form__input-grup textarea,
    .contact-form__input-grup select {
      font-size: 16px;
      padding: 0 18px;
      color: #fff;
      font-weight: 400;
      font-family: 'Lato', sans-serif;
      background: transparent;
      border: 1px solid #9a9999;
      outline: 0;
      -webkit-box-shadow: none;
              box-shadow: none; }
      .contact-form__input-grup input::-webkit-input-placeholder,
      .contact-form__input-grup textarea::-webkit-input-placeholder,
      .contact-form__input-grup select::-webkit-input-placeholder {
        color: #9a9999; }
      .contact-form__input-grup input::-ms-input-placeholder,
      .contact-form__input-grup textarea::-ms-input-placeholder,
      .contact-form__input-grup select::-ms-input-placeholder {
        color: #9a9999; }
      .contact-form__input-grup input::placeholder,
      .contact-form__input-grup textarea::placeholder,
      .contact-form__input-grup select::placeholder {
        color: #9a9999; }
      .contact-form__input-grup input:focus::-webkit-input-placeholder,
      .contact-form__input-grup textarea:focus::-webkit-input-placeholder,
      .contact-form__input-grup select:focus::-webkit-input-placeholder {
        color: transparent; }
      .contact-form__input-grup input:focus::-ms-input-placeholder,
      .contact-form__input-grup textarea:focus::-ms-input-placeholder,
      .contact-form__input-grup select:focus::-ms-input-placeholder {
        color: transparent; }
      .contact-form__input-grup input:focus::placeholder,
      .contact-form__input-grup textarea:focus::placeholder,
      .contact-form__input-grup select:focus::placeholder {
        color: transparent; }
    .contact-form__input-grup input {
      width: 238px;
      height: 50px;
      margin-right: 14px; }
    .contact-form__input-grup textarea {
      width: 490px;
      height: 144px;
      resize: none;
      padding: 11px 20px;
      -ms-overflow-style: none; }
    .contact-form__input-grup select {
      width: 238px;
      height: 50px; }
      .contact-form__input-grup select:required:invalid {
        color: #9a9999; }
    .contact-form__input-grup option[value=""][disabled] {
      display: none; }
    .contact-form__input-grup option {
      color: #373737;
      font-size: 16px; }
  .contact-form__btn-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-right: 2px; }
    .contact-form__btn-box label {
      color: #b7b7b7;
      font-size: 16px;
      margin-top: 17px; }

.btn-yellow {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 0;
  top: -3px;
  overflow: hidden;
  background: transparent;
  outline: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 50px;
  padding: 0 42px;
  color: #373737;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  cursor: pointer;
  -webkit-transition: color .4s ease;
  -o-transition: color .4s ease;
  transition: color .4s ease; }
  .btn-yellow:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: #ffff00;
    z-index: -2; }
  .btn-yellow:after {
    content: '';
    position: absolute;
    left: -120%;
    top: 55px;
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #009dda;
    z-index: -1;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease; }
  .btn-yellow:hover {
    color: #fff; }
    .btn-yellow:hover:after {
      left: -20%;
      top: -50px; }

/* footer */
footer {
  background: #1a1a1a;
  padding-top: 18px;
  padding-bottom: 21px; }
  footer .footer-container {
    max-width: 1570px;
    padding: 0 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto; }
    footer .footer-container__company p {
      font-size: 16px;
      color: #7a7a7a;
      padding-left: 3px;
      letter-spacing: 0.5px;
      margin: 0;
      position: relative;
      top: -1px; }
    footer .footer-container .social-links {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      footer .footer-container .social-links__link {
        display: block;
        width: 22px;
        height: 22px;
        margin-left: 20px;
        position: relative;
        top: 0;
        -webkit-transition: top .1s ease;
        -o-transition: top .1s ease;
        transition: top .1s ease; }
        footer .footer-container .social-links__link:hover {
          top: -2px; }
        footer .footer-container .social-links__link:first-child {
          margin-left: 0; }
        footer .footer-container .social-links__link_fb {
          background: url("../img/icons/footer-sociall.png") left center no-repeat; }
        footer .footer-container .social-links__link_google-plus {
          background: url("../img/icons/footer-sociall.png") left -22px center no-repeat; }
        footer .footer-container .social-links__link_twiter {
          background: url("../img/icons/footer-sociall.png") left -44px center no-repeat; }
        footer .footer-container .social-links__link_drib {
          background: url("../img/icons/footer-sociall.png") left -66px center no-repeat; }

input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px; }

input[type="checkbox"]:checked ~ label.checkbox-txt,
input[type="checkbox"]:not(:checked) ~ label.checkbox-txt {
  display: inline-block;
  position: relative;
  padding-left: 33px;
  color: #b7b7b7;
  line-height: normal;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 14px;
  cursor: pointer; }

input[type="checkbox"]:checked ~ label.checkbox-txt:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 23px;
  height: 23px;
  border: 1px solid #9a9999; }

input[type="checkbox"]:not(:checked) ~ label.checkbox-txt:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 23px;
  height: 23px;
  border: 1px solid #9a9999; }

input[type="checkbox"]:checked ~ label.checkbox-txt:after,
input[type="checkbox"]:not(:checked) ~ label.checkbox-txt:after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }

input[type="checkbox"]:checked ~ label.checkbox-txt:after,
input[type="checkbox"]:not(:checked) ~ label.checkbox-txt:after {
  left: 5px;
  top: 5px;
  width: 14px;
  height: 8px;
  border-radius: 1px;
  border-left: 3px solid #009dda;
  border-bottom: 3px solid #009dda;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }

input[type="checkbox"]:not(:checked) ~ label.checkbox-txt:after {
  opacity: 0; }

input[type="checkbox"]:checked ~ label.checkbox-txt:after {
  opacity: 1; }

@media screen and (max-width: 1199px) {
  /* General slider */
  .generaal-slider .swiper-slide {
    height: 600px; }
  .generaal-slider__text-box {
    min-width: auto; }
  .generaal-slider__title {
    font-size: 38px; }
  .generaal-slider__subtitle {
    margin-top: 10px;
    line-height: normal;
    padding: 0; }
  /* Advantage */
  .advant-card {
    width: 168px; } }

@media screen and (max-width: 1024px) {
  body {
    overflow-x: hidden; }
  /* header */
  .header__items {
    height: 70px; }
  .header__nav {
    position: fixed;
    right: -101%;
    top: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    background: #009dda;
    -webkit-transition: right .3s ease;
    -o-transition: right .3s ease;
    transition: right .3s ease; }
    .header__nav.open {
      right: 0; }
  .header__links-list {
    height: calc(100vh - 70px);
    width: 100%;
    margin: 0;
    padding-top: 50px;
    overflow-y: scroll;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .header__links-list > li {
      margin-left: 0;
      padding: 15px 0px 15px 20px;
      text-align: left;
      border-top: 1px solid #fff;
      width: 100%; }
      .header__links-list > li .drop-handler {
        top: 6px;
        position: absolute;
        right: 20px;
        width: 40px;
        height: 40px; }
        .header__links-list > li .drop-handler.active {
          -webkit-transform: rotate(180deg);
              -ms-transform: rotate(180deg);
                  transform: rotate(180deg); }
        .header__links-list > li .drop-handler:before {
          content: '\f107';
          font-family: FontAwesome;
          position: absolute;
          color: #fff;
          left: 50%;
          top: 50%;
          -webkit-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%); }
      .header__links-list > li.active > a {
        color: transparent; }
        .header__links-list > li.active > a .speciality-text {
          opacity: 1; }
      .header__links-list > li a {
        color: #fff;
        position: relative; }
        .header__links-list > li a .speciality-text {
          color: #fff; }
      .header__links-list > li:hover > .drop-menu {
        top: 0px; }
      .header__links-list > li:hover > a {
        color: transparent; }
        .header__links-list > li:hover > a .speciality-text {
          color: #fff; }
      .header__links-list > li:first-child {
        margin-left: 0; }
  .header__search input {
    width: 280px;
    height: 24px; }
  .header .hamburger {
    display: block; }
  .drop-menu {
    position: relative;
    opacity: 1;
    display: none;
    visibility: visible;
    background: transparent;
    top: 0;
    left: -0;
    margin-top: 15px;
    padding: 15px 0 0px 0;
    text-align: left; }
    .drop-menu.active {
      display: block; }
    .drop-menu:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 1px;
      background: #fff; }
    .drop-menu:after {
      display: none; }
    .drop-menu li {
      margin-left: 0;
      margin-bottom: 0;
      position: relative;
      padding: 10px 0px 10px 20px; }
      .drop-menu li .drop-handler {
        top: 2px; }
      .drop-menu li:last-child {
        margin-bottom: 0px; }
      .drop-menu li a {
        font-size: 14px;
        color: #fff; }
        .drop-menu li a:before {
          display: none; }
        .drop-menu li a:hover {
          color: #fff;
          left: 0; }
          .drop-menu li a:hover:before {
            display: none; }
    .drop-menu__drop-handler:hover .drop-menu {
      top: 0; }
    .drop-menu__drop-handler:hover > a {
      left: 0;
      color: #fff; }
    .drop-menu .drop-menu {
      position: relative;
      top: 0;
      left: auto;
      padding-top: 0;
      padding-bottom: 0; }
      .drop-menu .drop-menu li:last-child {
        margin-bottom: 3px; }
      .drop-menu .drop-menu:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 1px;
        background: #fff; }
      .drop-menu .drop-menu:after {
        content: '';
        position: absolute;
        top: auto;
        left: 0;
        display: block;
        width: 100%;
        height: 1px;
        background: #fff; } }

@media screen and (max-width: 991px) {
  /* General slider */
  .generaal-slider .swiper-slide {
    height: 400px; }
  .generaal-slider__text-box {
    min-width: auto; }
  .generaal-slider__title {
    font-size: 38px; }
  .generaal-slider__subtitle {
    margin-top: 10px;
    line-height: normal;
    padding: 0; }
  /* Advantage */
  .advant-section {
    padding-top: 50px;
    padding-bottom: 50px; }
    .advant-section__title-decription {
      padding: 0; }
    .advant-section__items {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      padding-top: 50px; }
  .advant-card {
    width: calc(33.333% - 16px);
    height: auto;
    margin-bottom: 16px;
    padding-bottom: 20px; }
    .advant-card:nth-child(4) {
      margin-left: auto;
      margin-right: 8px; }
    .advant-card:nth-child(5) {
      margin-right: auto;
      margin-left: 8px; }
  /* Productss */
  .products__box {
    margin-bottom: 50px; }
  .product-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px; }
    .product-box .droduct-descrip {
      text-align: center; }
  /* About */
  .about {
    padding-top: 50px;
    padding-bottom: 0; }
  /* Contact */
  .contact__map {
    height: 652px; }
  .contact__title-decription {
    margin-bottom: 50px; }
  .contact-form {
    position: absolute;
    z-index: 3;
    left: 50%;
    top: 10px;
    margin-left: -300px;
    max-width: 600px;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px; }
    .contact-form__form-item label.error {
      top: -12px; }
    .contact-form__contact-text {
      padding-top: 40px;
      padding-left: 0px;
      padding-right: 0; }
    .contact-form__numbers {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; }
    .contact-form__emails {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; }
    .contact-form__input-grup {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .contact-form__input-grup input {
        width: 100%;
        margin-bottom: 13px; }
      .contact-form__input-grup select {
        width: 100%; }
      .contact-form__input-grup textarea {
        width: 100%; }
      .contact-form__input-grup .chosen-container {
        min-width: 100%; } }

@media screen and (max-width: 767px) {
  h2 {
    font-size: 30px; }
  /* General slider */
  .generaal-slider__text-box {
    min-width: auto; }
  .generaal-slider__title {
    font-size: 28px; }
  .generaal-slider__subtitle {
    margin-top: 10px;
    line-height: normal;
    padding: 0; }
  /* About */
  .about__img-box {
    padding-top: 0;
    text-align: center; }
  /* Contact */
  .contact-form {
    margin-left: -155px;
    max-width: 310px;
    width: 100%; }
    .contact-form .btn-yellow {
      padding: 0 16px; } }

@media screen and (max-width: 575px) {
  h2 {
    text-align: center; }
  /* Advantage */
  .advant-section__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-top: 50px; }
  .advant-card {
    width: 100%;
    height: auto;
    margin-bottom: 16px;
    padding-bottom: 20px; }
    .advant-card:nth-child(4) {
      margin-left: auto;
      margin-right: auto; }
    .advant-card:nth-child(5) {
      margin-right: auto;
      margin-left: auto; }
  /* Products */
  .products__title {
    top: 25px; }
  /* about */
  .about-text__title {
    text-align: left; }
  /* Header*/
  .header .hamburger {
    min-width: 22px; }
  .header__search {
    margin-left: 10px;
    margin-right: 10px; }
    .header__search input {
      width: 100%;
      height: 24px;
      padding-left: 10px;
      padding-right: 30px; }
    .header__search button {
      right: 10px; }
  /* General Slider */
  .generaal-slider__title {
    font-size: 24px; }
  .generaal-slider__subtitle {
    font-size: 12px; }
  .swiper-button-prev, .swiper-button-next {
    width: 20px; }
  .swiper-button-prev {
    left: 15px; }
  .swiper-button-next {
    right: 15px; }
  /* Footer */
  footer .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    footer .footer-container__company {
      padding-top: 14px;
      text-align: center; } }
