@media screen and (max-width: 1259px) {
  /* Info section */
  .info {
    padding-bottom: 90px;
    &:before {
      display: none;
    }
    .text-col {
      &__right {
        padding-left: 0px;
        padding-top: 100px;
        &:before {
          content: '';
          position: absolute;
          right: -22px;
          top: 74px;
          width: 5px;
          height: 424px;
          background: #fed559;
        }
        &_bold {
          font-size: 24px;
          line-height: 33px;
        }
      }
      &__left {
        padding-right: 0px;
        padding-left: 54px;
        padding-top: 100px;
        &_light {
          margin-bottom: 20px;
        }
      }
    }
  }

  /* Slider & carts */
  .cart-slider{
    padding-top: 40px;
    padding-bottom: 40px;
    .slider-cart{
      padding-top: 15px;
      position: relative;

    }
    .btn-overlay{
      padding-top: 40px;
    }
  }
  .cart-cont{
    .cart-inner{
      padding: 0 10px;
      .cart-box{
        &__img{
          position: relative;
          padding-top: 27px;
          padding-left: 50px;
          padding-right: 40px;
          img{
            max-width: 100%;
          }
        }
        &__description{
          top: 223px;
          padding: 0 20px 0 15px;
          &_title{
            font-size: 24px;
            line-height: 28px;
            margin-bottom: 15px;
          }
          &_sub-title{
            margin-bottom: 20px;
            &:before{
              bottom: -12px;
            }
          }
          &_all-title{
            opacity: 0;
            margin: 0;
            font-size: 18px;
            line-height: 22px;
            padding-right: 10px;
            transition: all 0.3s ease;
          }
          &_link{
            right: 18px;
            bottom: -20px;
          }
        }
        &:hover{
          background: #ffcc32;
          .cart-box__description_all-title{
            opacity: 1;
          }
        }
      }
    }
  }

  /* Footer */
  .footer{
    .footer-form{
      &__input{
        width: 170px;
      }
      label.error{
        font-size: 10px;
        left: 27px;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  /* Info section */
  .info {
    padding-bottom: 50px;

    .text-col {
      &__right {
        padding-left: 0px;
        padding-right: 0;
        padding-top: 50px;
        &:before {
          content: '';
          position: absolute;
          right: -22px;
          top: 40px;
          width: 5px;
          height: 424px;
          background: #fed559;
        }
        &_bold {
          font-size: 24px;
          line-height: 33px;
        }
      }
      &__left {
        padding-left: 0px;
        padding-top: 50px;
        &_light {
          margin-bottom: 20px;
        }
      }
    }
  }

  /* Slider & carts */
  .cart-slider{
    padding-top: 40px;
    padding-bottom: 40px;
    .slider-cart{
      padding-top: 15px;
      position: relative;

    }
    .btn-overlay{
      padding-top: 40px;
    }
  }
  .cart-cont{
    .cart-inner{
      padding: 0 10px;
      .cart-box{
        height: 350px;
        &__img{
          position: relative;
          padding-top: 27px;
          padding-left: 50px;
          padding-right: 40px;
          img{
            max-width: 100%;
          }
        }
        &__description{
          top: 143px;
          padding: 0 20px 0 15px;
          &_title{
            font-size: 18px;
            line-height: normal;
            margin-bottom: 15px;
          }
          &_sub-title{
            margin-bottom: 20px;
            font-size: 18px;
          }
          &_all-title{
            opacity: 0;
            margin: 0;
            font-size: 10px;
            line-height: normal;
            padding-right: 0;
          }
          &_link{
            right: 18px;
            bottom: -40px;
          }
        }
        &:hover{
          background: #ffcc32;
          .cart-box__description_all-title{
            opacity: 1;
          }
        }
      }
    }
  }
  .btn{
    font-size: 20px;
    line-height: normal;
  }

  /* footer */
  .footer{
    &:before{
    display: none;
    }
    &__footer-col{
      &_right{
        padding-right: 0px;
      }
      &_center{
        align-items: center;
        &:before{
          content: '';
          width: 1px;
          height: 209px;
          display: block;
          background: #fff;
          position: absolute;
          left: -11px;
          top: 26px;
        }
      }
      &_left{
        padding-top: 1px;
        padding-left: 0;
        position: relative;
        &:before{
          content: '';
          width: 1px;
          height: 209px;
          display: block;
          background: #fff;
          position: absolute;
          left: -11px;
          top: 26px;
        }
      }
    }
    &__title{
      font-size: 18px;
      font-weight: 300;
      &_right{
        margin-bottom: 26px;
      }
      &_center{
        text-align: center;
        margin-left: 0x;
        margin-bottom: 26px;
      }
      &_left{
        margin-bottom: 25px;
      }
    }
    .footer-form{
      padding-top: 2px;
      padding-left: 18px;
      &__input{
        font-size: 14px;
        padding: 8px 0;
        margin-right: 10px;
        width: 120px;

      }
      &__btn{

        width: 40px;
        height: 40px;
      }
      label.error{
        left: 22px;
        bottom: -15px;
        font-size: 10px;
      }
    }
    .social{
      display: flex;
      padding-left: 1px;
      &__link{
        width: 40px;
        height: 40px;
      }
    }
    &__addres{
      color: #fff;
      padding-top: 23px;
      p{
        margin: 0;
        letter-spacing: 0.3px;
        line-height: normal;
        font-size: 12px;
      }
    }
    &__bottom{
      padding-top: 98px;
      padding-bottom: 34px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
      justify-content: center;
      p{
        font-size: 14px;
        line-height: normal;
      }
      a{
        font-size: 14px;
        &:before{
          bottom: 0px;
        }
      }
    }
  }
  .btn-blue{
    padding: 5px 15px;
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  /* Info section */
  .info {
    padding-bottom: 50px;
    .text-col {
      text-align: center;
      &__right {
        padding-left: 0px;
        padding-right: 0;
        padding-top: 50px;
        text-align: center;
        &:before {
         display: none;
        }
        &_bold {
          font-size: 24px;
          line-height: 33px;
        }
      }
      &__left {
        padding-left: 0px;
        padding-top: 50px;
        &_light {
          margin-bottom: 20px;
        }
      }
    }
  }

  /* Slider & carts */
  .cart-cont{
    .cart-inner{
      padding: 0 10px;
      .cart-box{
        &__description{
          top: 170px;
          padding: 0 20px 0 15px;
          &_title{
            font-size: 18px;
            line-height: normal;
            margin-bottom: 15px;
          }
          &_sub-title{
            margin-bottom: 20px;
            font-size: 18px;
          }
          &_all-title{
            opacity: 0;
            margin: 0;
            font-size: 10px;
            line-height: normal;
            padding-right: 0;
          }
          &_link{
            right: 18px;
            bottom: -40px;
          }
        }
      }
    }
  }

  /* footer */
  .footer{
    &__footer-col{
      &_center{
        &:before{
         display: none;
        }
      }
      &_left{
        padding-top: 1px;
        padding-left: 0;
        position: relative;
        &:before{
        display: none;
        }
      }
    }
    &__title{
      font-size: 18px;
      font-weight: 300;
      &_right{
        margin-bottom: 26px;
        text-align: center;
      }
      &_center{
        text-align: center;
        margin-left: 0x;
        margin-bottom: 26px;
      }
      &_left{
        text-align: center;
        margin-bottom: 25px;
      }
    }
    .footer-form{
      padding-top: 2px;
      padding-left: 18px;
      &__input{
        font-size: 14px;
        padding: 8px 0;
        margin-right: 10px;
        width: 120px;

      }
      &__btn{

        width: 40px;
        height: 40px;
      }
      label.error{
        left: 51%;
        transform: translateX(-50%);
        bottom: -15px;
        font-size: 10px;
      }
    }
    .social{
      display: flex;
      justify-content: center;
    }
    &__addres{
      text-align: center;
    }
    &__bottom{
      padding-top: 40px;
      padding-bottom: 34px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
      justify-content: center;
      p{
        font-size: 12px;
        line-height: normal;
      }
      a{
        font-size: 12px;
        &:before{
          bottom: 0px;
        }
      }
    }
  }
  .btn-blue{
    margin-right: auto;
  }

}

@media screen and (max-width: 575px) {
  /* Slider & carts */
  .cart-cont {
    .cart-inner {
      .cart-box {
        height: 350px;
        max-width: 240px;
        margin: 0 auto;
        &__description {
          top: 180px;
          &_title {
            font-size: 18px;
            line-height: normal;
            margin-bottom: 15px;
          }
        }
      }
    }
  }
  .swiper-button-prev{
    left: -20px;
  }
  .swiper-button-next{
    right: -20px;
  }
}
